%h1 Build artifacts
%h2= @build_id
%a{:href => "/"} Return to dashboard.
%ul
  - @artifacts.each do |artifact|
    %li
      = artifact
      %br/
      [
      - if @status[artifact] == 'pending' || @status[artifact] == 'uploading'
        %span= "Status: #{@status[artifact]}"
      - elsif @status[artifact] == 'uploaded'
        %a{:href => @urls[artifact]} Public URL
      - else
        %a{:href => "/upload/#{@build_id}/#{artifact}"} Make public
      ]
